<div class="jumbotron">
    <h1></h1>
    <hr>
    <p>Wzorcem, który posłużyć może dla większości osób jest ilość gramów poszczególnych składników na kilogram masy ciała. Zwykle dla utrzymania prawidłowej masy ciała (czyli nie redukowanie ani nie przybieranie) wymagana jest następująca proporcja:
    <ul><li>20–30 % białka </li><li>50–65 % węglowodanów</li><li>15–25 % tłuszczów</li></ul>
    <p>Natomiast w przeliczeniu na kilogram masy ciała: </p>
<ul><li>1–2 g białka /kg masy ciała </li><li>3–5 g węglowodanów /kg masy ciała</li><li>1–1,5 g tłuszczów /kg masy ciała</li></ul>
    </p>
</div>