<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dodaj nowy posiłek</h4>
            <hr>
            
            <div class="input-group">
                <input type="text" class="form-control" ng-model="mealName" placeholder="Podaj nazwę posiłku"/>
                
                <hr>
                <button type="submit" class="btn btn-success" ng-click="MealAdd()">Dodaj nowy posiłek</button> 
                
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dostępne posiłki :</h3>
            <hr>
            <ul>
                <li ng-repeat="meal in meals"><a href="/#!meal/add/{{ meal.id }}">{{ meal.name }}</a></li>
            </ul>
        </div>
    </div>
</div>