<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h3>{{meal.name}}</h3>
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
        
    

   
    
            
            <select class="form-control" ng-model="productId">
                <option ng-repeat="l in prod" value="{{ l.id }}">{{ l.name }}</option>
            </select>
            
            <button class="btn btn-success m-t-30" type="button" ng-click="productRemoveFromMeal()">Usuń produkt z  posiłku</button>
            

                        
        </div>
    </div>
    </div>
    
</div>