<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{message}}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">

                        <h3>Posiłek : {{meal.name}}</h3>

            <select class="form-control" ng-model="productId">
                <option ng-repeat="p in products" value="{{ p.id }}">{{ p.name }}</option>
            </select>
                        <input type="text" class="form-control" placeholder="Ilość produktu (gr.)" ng-model="amount">
                                <button class="btn btn-success m-t-30" type="button" ng-click="productAddToMeal()">Dodaj produkt do posiłku</button>


         <h4>Produkty posiłku :</h4>   
            
     <ul>
        <li ng-repeat="product in meal.mealProductList">
            <p>{{ product.product.name }}</p>
        </li>  
    </ul>
                        

        </div>
    </div>
    </div>
    
</div>