
                
                
                
                                
   <div class="well">

    <p>Dostęne funkcje:<ul class="myList"> <li><span class= "glyphicon glyphicon-search"> Pokaż posiłek</span></li>
             <li><span class= "glyphicon glyphicon-plus"> Dodaj produkt</span></li>
            <li><span class="glyphicon glyphicon-minus"> Usuń produkt z posiłku</span></li>
            <li><span class= "glyphicon glyphicon-trash"> Usuń cały posiłek </span></li>
                </ul>
    
            <h4>Dostępne posiłki </h4>
        

        <ul class="myList">

        <li ng-repeat="meal in meals">

        <div class="btn-group" role="group" aria-label="...">
  <a href="/#!meal/show/{{ meal.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-search"></span></button></a>
   <a href="/#!meal/add/{{ meal.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-plus"></span></button></a>
<a href="/#!meal/edit/{{ meal.id }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"> </span></button></a>
    <a href="/#!meal/delete/{{ meal.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-trash"> </span></button></a>
            {{ meal.name }} 

</div>
    </li>
        </ul>
    
        
   
    
    
    

</div>             
                                