<div class="well">
    <h3>{{ plan.name }}</h3>
    <p>Składniki</p>
    <ul>
                <li ng-repeat="n in names">{{ n }}</li>
    </ul>
    <p>Wartości odżywcze :</p>
    <ul>
            <li>Proteiny : {{ValuesOfMeal.protein}}</li>
        
            <li>Tłuszcze: {{ValuesOfMeal.fat}}</li>

            <li>Węglowodany : {{ValuesOfMeal.carbohydrates}}</li>

            <li>Kalorie : {{ValuesOfMeal.calories}}kcal</li>

    </ul>
    
</div>