<div class="well">

    <p>Dostęne funkcje:<ul class="myList"> <li><span class= "glyphicon glyphicon-search"> Pokaż plan</span></li>
             <li><span class= "glyphicon glyphicon-plus"> Dodaj posiłek do planu</span></li>
            <li><span class="glyphicon glyphicon-minus"> Usuń posiłek z planu</span></li>
            <li><span class= "glyphicon glyphicon-trash"> Usuń cały plan </span></li>
                </ul>
    
            <h4>Dostępne Plany </h4>
        

        
        
        <ul class="myList">

        <li ng-repeat="plan in plans">

        <div class="btn-group" role="group" aria-label="...">
  <a href="/#!plan/show/{{ plan.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-search"></span></button></a>
   <a href="/#!plan/add/{{ plan.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-plus"></span></button></a>
<a href="/#!plan/edit/{{ plan.id }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"> </span></button></a>
    <a href="/#!plan/delete/{{ plan.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-trash"> </span></button></a>
            {{ plan.name }} 

</div>
    </li>
        </ul>
    
        
   
    
    
    

</div>



