<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dodaj nowy plan na dzień</h3>
            <hr>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="namePlan" placeholder="Podaj nazwę planu"/>
                
                <hr>
                <button type="submit" class="btn btn-success" ng-click="planAdd()">Dodaj nowy plan</button> 
                
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dostępne plany :</h3>
            <hr>
            <ul>
                <li ng-repeat="p in Plans"><a href="/#!plan/show/{{ p.id }}">{{ p.name }}</a></li>
            </ul>
        </div>
    </div>
</div>

