<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h3>{{plan.name}}</h3>
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
    
            
             <select class="form-control" ng-model="dish">
                    
                <option ng-repeat="d in dishes" value="{{ d.id }}">{{ d.name }}</option>
            </select>
            

            <button class="btn btn-success m-t-30" type="button" ng-click="DishAdd()">Dodaj posiłek do planu</button>
            
<h4>Posiłki w planie :</h4>
     <ul>
        <li ng-repeat="m in plan.meals">
            <p>{{ m.name }}</p>
        </li>  
    </ul>
                        

        </div>
    </div>
    </div>
    
</div>