<div class="well">
    <div class="row">
        <div class="col-md-12">
            <h3>{{plan.name}}</h3>
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
        
            <select class="form-control" ng-model="mealId">
                <option ng-repeat="p in plan.meals" value="{{ p.id }}">{{ p.name }}</option>
            </select>
            <button class="btn btn-success m-t-30" type="button" ng-click="mealRemoveFromPlan()">Usuń posiłek z  planu</button>
        
            
     <ul>
        <li ng-repeat="meal in plan.meals">
            <p>{{ meal.name }}</p>
        </li>  
    </ul>
                        
        </div>
    </div>
    </div>
    
</div>