


<div class="well">

    <p>Dostęne funkcje:<ul class="myList"> <li><span class= "glyphicon glyphicon-search"> Pokaż produkt</span></li>
            <li><span class="glyphicon glyphicon-wrench"> Zmodyfikuj produkt</span></li>
            <li><span class= "glyphicon glyphicon-trash"> Usuń produkt </span></li>
                </ul>
    
            <h4>Dostępne produkty </h4>
        

        
        
        <ul class="myList">

        <li ng-repeat="product in products">

        <div class="btn-group" role="group" aria-label="...">
  <a href="/#!product/show/{{ product.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-search"></span></button></a>
<a href="/#!product/edit/{{ product.id }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-wrench"> </span></button></a>
    <a href="/#!product/delete/{{ product.id }}"><button type="button" class="btn btn-default"><span class= "glyphicon glyphicon-trash"> </span></button></a>
            {{ product.name }}

</div>
    </li>
        </ul>
    
        
   
    
    
    

</div>





