<div class="well">
    <h3>{{ product.name }}</h3>
    <p>Białka : {{product.protein}}gr/100gr</p>
    <p>Tłuszcze : {{product.fat}}gr/100gr</p>
    <p>Węglowodany : {{product.carbohydrates}}gr/100gr</p>
    <p>Kalorie : {{product.calories}}kcal/100gr</p>
</div>