<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj nazwę produktu" ng-model="productName">
            <input type="text" class="form-control" placeholder="Ilość protein w 100gr." ng-model="protein">
            <input type="text" class="form-control" placeholder="Ilość tłuszczu w 100gr." ng-model="fat">
            <input type="text" class="form-control" placeholder="Ilość węglowodanów w 100gr." ng-model="carbohydrates">
            <input type="text" class="form-control" placeholder="Ilość kcal w 100gr." ng-model="calories">
            <button class="btn btn-success m-t-30" type="button" ng-click="productAdd()">Dodaj produkt</button>
        </div>
        <h3>Dostępne produkty: </h3>
        <ol>
                <li ng-repeat="p in products"><a href="/#!product/show/{{ p.id }}">{{ p.name }}</a></li>
        </ol>
    </div>
    </div>
    
</div>