<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
        <input type="text" class="form-control" id="pr"  ng-model="product.name">
            <input type="text" class="form-control" placeholder="Ilość protein w 100gr." ng-model="product.protein">
            <input type="text" class="form-control" placeholder="Ilość tłuszczu w 100gr." ng-model="product.fat">
            <input type="text" class="form-control" placeholder="Ilość węglowodanów w 100gr." ng-model="product.carbohydrates">
            <input type="text" class="form-control" placeholder="Ilość kcal w 100gr." ng-model="product.calories">
            
        
            <button class="btn btn-success m-t-30" type="button" ng-click="productEdit()">Edytuj produkt</button>
        </div>
    </div>
    </div>
    
